<h4 style="direction:rtl;" align="center">بسم الله الرحمن الرحیم</h4>
<br>
<h4 style="direction:rtl;" align="center">دانشگاه صنعتی شریف - بهار ۱۴۰۲</h4>
<h3 style="direction:rtl;" align="center">درس سامانه‌های یادگیری ماشین</h3>
<hr>
<div><h2 style="direction:rtl;" align="center">تمرین اول - بخش آماده‌سازی دادگان</h2><div>
<hr>
<h4 style="direction:rtl;" align="center">دانشجو: محمدحسین موثقی‌نیا</h4>
<h4 style="direction:rtl;" align="center">شماره دانشجویی: ۴۰۰۲۰۰۹۱۹</h4>

## Import Libraries

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv("./../data/raw_data.csv")
df = df.drop(df.columns[0], axis=1)
df

,cat1,cat2,cat3,title,description,url,sub_title,price,size,year,room_number,color,mileage,CPU,RAM
0,electronic-devices,computers,laptop-notebook-macbook,لپ تاپ استوک hp,با درود\nلپ تاپ های استوک مارک hp\nhp probook ...,https://divar.ir/v/لپ-تاپ-استوک-hp_رایانه-همرا...,۲ ساعت پیش در شیراز، ملاصدرا,۱۴٬۹۰۰٬۰۰۰,NaN,NaN,NaN,خاکستری,NaN,Core i7,۸
1,electronic-devices,computers,laptop-notebook-macbook,لپتاپ HP PRO نسل ۹ مهندسی,لپ تاپ ، مهندسی، گرافیکی،پر سرعت شیک و ظریف بر...,https://divar.ir/v/لپتاپ-hp-pro-نسل-۹-مهندسی_ر...,۲ ساعت پیش در شیراز، وصال,۱۸٬۸۰۰٬۰۰۰,NaN,NaN,NaN,نقره‌ای,NaN,Ryzen 5,۸
2,electronic-devices,computers,laptop-notebook-macbook,فروش لپتاپ استوک اروپایی,سلام\nتکنو رایان واردکننده لپتاپ استوک اروپایی...,https://divar.ir/v/فروش-لپتاپ-استوک-اروپایی_را...,۳ ساعت پیش در شیراز، زند,۳٬۹۰۰٬۰۰۰,NaN,NaN,NaN,NaN,NaN,NaN,۴
3,electronic-devices,computers,laptop-notebook-macbook,HP ZBOOK15 g3 با گرافیک مجزا مناسب طراحی,❤ بدون واسطه به قیمت عمده خرید کنید ❤\n فروشگا...,https://divar.ir/v/hp-zbook15-g3-با-گرافیک-مجز...,۳ ساعت پیش در شیراز، ملاصدرا,۱۷٬۹۰۰٬۰۰۰,NaN,NaN,NaN,مشکی,NaN,Core i7,۸
4,electronic-devices,computers,laptop-notebook-macbook,لپ تاپ استوک واردات مستقیم از دبی,* با سلام و احترام خدمت شما کاربر گرامی.کمال ت...,https://divar.ir/v/لپ-تاپ-استوک-واردات-مستقیم-...,۳ ساعت پیش در شیراز، پودنک,۱۰٬۰۰۰٬۰۰۰,NaN,NaN,NaN,سایر,NaN,غیره,غیره
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1425,vehicles,auto,car,پژو پارس پرشیا اتومات فابریک موتور TU5نقد اقساط,سلام و درود خدمت همه عزیزان \n \n ...,https://divar.ir/v/پژو-پارس-پرشیا-اتومات-فابری...,نیم ساعت پیش در تهران، نازی‌آباد,۳۶۰٬۰۰۰٬۰۰۰,NaN,۱۳۸۹,NaN,خاکستری,۱۴۳٬۰۰۰,NaN,NaN
1426,vehicles,auto,car,جیلی GC6 اکسلنت، مدل ۱۳۹۸,خودرو در حد صفر میباشد اتوماتیک دارای گیربکس ژ...,https://divar.ir/v/جیلی-gc6-اکسلنت-مدل-۱۳۹۸_سو...,نیم ساعت پیش در تهران، پونک,۷۴۰٬۰۰۰٬۰۰۰,NaN,۱۳۹۸,NaN,سفید,۶۰٬۰۰۰,NaN,NaN
1427,vehicles,auto,car,ام وی ام ایکس۳۳-AT-نیوفیس جدید,ام وی ام ایکس۳۳-AT-نیوفیس\nبسیار تمیز و بدون خ...,https://divar.ir/v/ام-وی-ام-ایکس۳۳-at-نیوفیس-ج...,نیم ساعت پیش در تهران، ولنجک,۱٬۱۹۰٬۰۰۰٬۰۰۰,NaN,۱۴۰۰,NaN,خاکستری,۵۶٬۰۰۰,NaN,NaN
1428,vehicles,auto,car,پژو 206 تیپ ۲، مدل ۱۳۹۸,فوق العاده سالم و بی رنگ\nیک جفت باند پایونیر\...,https://divar.ir/v/پژو-206-تیپ-۲-مدل-۱۳۹۸_سوار...,نیم ساعت پیش در تهران، دریاچه شهدای خلیج فارس,۴۶۸٬۰۰۰٬۰۰۰,NaN,۱۳۹۸,NaN,سفید,۷۲٬۰۰۰,NaN,NaN
1429,vehicles,auto,car,پژو پارس LX TU5، مدل ۱۴۰۰ تصادفی,موتور سالم است. مشخصات آگهی را دقیق بخوانید و ...,https://divar.ir/v/پژو-پارس-lx-tu5-مدل-۱۴۰۰_سو...,نیم ساعت پیش در اصفهان، شهرضا,۴۵۰٬۰۰۰٬۰۰۰,NaN,۱۴۰۰,NaN,سفید,۶٬۰۰۰,NaN,NaN

## Preprocessing

In [3]:
df['cat1'] = df['cat1'].fillna('Unknown')
df['cat2'] = df['cat2'].fillna('Unknown')
df['cat3'] = df['cat3'].fillna('Unknown')
df["color"] = df['color'].fillna('Unknown')
df["CPU"] = df['CPU'].fillna('Unknown')
drop_index = df[ (df['price'] == "غیرقابل نمایش") | (df['price'] == "شخصی") ].index
df = df.drop(drop_index)

In [4]:
def normalize_numbers(number, out_type="int"):
    norm = {"۱":"1","۲":"2","۳":"3","۴":"4","۵":"5","۶":"6","۷":"7","۸":"8","۹":"9","۰":"0","٬":"",".":"."}
    result = ""
    if number == 'NAN' or number == 'nan' or pd.isna(number) or number == "مطرح نیست":
        return -1
    for n in number:
        if n in norm.keys():
            result += norm[n]
    if out_type == "float":
        return float(result)
    else:
        return int(result)

In [5]:
df['price'] = [normalize_numbers(p) for p in df['price']]
df['size'] = [normalize_numbers(p) for p in df['size']]
df["year"] = [normalize_numbers(p.replace("قبل از ", "") if type(p) == str else p) for p in df["year"]]
df['room_number'] = [normalize_numbers(p.replace("+۴", "۵") if type(p) == str else p) for p in df['room_number']]
df['mileage'] = [normalize_numbers(p) for p in df['mileage']]
df['RAM'] = [normalize_numbers(p if type(p) == str else p, "float") if p != "غیره" else p for p in df['RAM']]

In [6]:
id_col = [i+1 for i in range(len(df["title"]))]
df.insert(loc=0, column='id', value=id_col)

In [7]:
df

,id,cat1,cat2,cat3,title,description,url,sub_title,price,size,year,room_number,color,mileage,CPU,RAM
0,1,electronic-devices,computers,laptop-notebook-macbook,لپ تاپ استوک hp,با درود\nلپ تاپ های استوک مارک hp\nhp probook ...,https://divar.ir/v/لپ-تاپ-استوک-hp_رایانه-همرا...,۲ ساعت پیش در شیراز، ملاصدرا,14900000,-1,-1,-1,خاکستری,-1,Core i7,8.0
1,2,electronic-devices,computers,laptop-notebook-macbook,لپتاپ HP PRO نسل ۹ مهندسی,لپ تاپ ، مهندسی، گرافیکی،پر سرعت شیک و ظریف بر...,https://divar.ir/v/لپتاپ-hp-pro-نسل-۹-مهندسی_ر...,۲ ساعت پیش در شیراز، وصال,18800000,-1,-1,-1,نقره‌ای,-1,Ryzen 5,8.0
2,3,electronic-devices,computers,laptop-notebook-macbook,فروش لپتاپ استوک اروپایی,سلام\nتکنو رایان واردکننده لپتاپ استوک اروپایی...,https://divar.ir/v/فروش-لپتاپ-استوک-اروپایی_را...,۳ ساعت پیش در شیراز، زند,3900000,-1,-1,-1,Unknown,-1,Unknown,4.0
3,4,electronic-devices,computers,laptop-notebook-macbook,HP ZBOOK15 g3 با گرافیک مجزا مناسب طراحی,❤ بدون واسطه به قیمت عمده خرید کنید ❤\n فروشگا...,https://divar.ir/v/hp-zbook15-g3-با-گرافیک-مجز...,۳ ساعت پیش در شیراز، ملاصدرا,17900000,-1,-1,-1,مشکی,-1,Core i7,8.0
4,5,electronic-devices,computers,laptop-notebook-macbook,لپ تاپ استوک واردات مستقیم از دبی,* با سلام و احترام خدمت شما کاربر گرامی.کمال ت...,https://divar.ir/v/لپ-تاپ-استوک-واردات-مستقیم-...,۳ ساعت پیش در شیراز، پودنک,10000000,-1,-1,-1,سایر,-1,غیره,غیره
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1425,1424,vehicles,auto,car,پژو پارس پرشیا اتومات فابریک موتور TU5نقد اقساط,سلام و درود خدمت همه عزیزان \n \n ...,https://divar.ir/v/پژو-پارس-پرشیا-اتومات-فابری...,نیم ساعت پیش در تهران، نازی‌آباد,360000000,-1,1389,-1,خاکستری,143000,Unknown,-1
1426,1425,vehicles,auto,car,جیلی GC6 اکسلنت، مدل ۱۳۹۸,خودرو در حد صفر میباشد اتوماتیک دارای گیربکس ژ...,https://divar.ir/v/جیلی-gc6-اکسلنت-مدل-۱۳۹۸_سو...,نیم ساعت پیش در تهران، پونک,740000000,-1,1398,-1,سفید,60000,Unknown,-1
1427,1426,vehicles,auto,car,ام وی ام ایکس۳۳-AT-نیوفیس جدید,ام وی ام ایکس۳۳-AT-نیوفیس\nبسیار تمیز و بدون خ...,https://divar.ir/v/ام-وی-ام-ایکس۳۳-at-نیوفیس-ج...,نیم ساعت پیش در تهران، ولنجک,1190000000,-1,1400,-1,خاکستری,56000,Unknown,-1
1428,1427,vehicles,auto,car,پژو 206 تیپ ۲، مدل ۱۳۹۸,فوق العاده سالم و بی رنگ\nیک جفت باند پایونیر\...,https://divar.ir/v/پژو-206-تیپ-۲-مدل-۱۳۹۸_سوار...,نیم ساعت پیش در تهران، دریاچه شهدای خلیج فارس,468000000,-1,1398,-1,سفید,72000,Unknown,-1
1429,1428,vehicles,auto,car,پژو پارس LX TU5، مدل ۱۴۰۰ تصادفی,موتور سالم است. مشخصات آگهی را دقیق بخوانید و ...,https://divar.ir/v/پژو-پارس-lx-tu5-مدل-۱۴۰۰_سو...,نیم ساعت پیش در اصفهان، شهرضا,450000000,-1,1400,-1,سفید,6000,Unknown,-1

In [8]:
df.to_csv("./../data/normalized_raw_data.csv", index=False)

## Normalized raw data to import data to advertisement table

In [13]:
df_to_import_db = df[["id", "title", "sub_title", "description", "url", "price"]]
df_to_import_db.to_csv("./../data/db/advertisement.csv", index=False)

## Relation of advertisment to categories

In [14]:
cat = pd.read_csv("./../data/db/categories.csv")
cat = {f"{title}": cat_id for cat_id, title in zip(cat["id"], cat["title"])}
cat

{'electronic-devices': 1,
 'home-kitchen': 2,
 'real-estate': 3,
 'vehicles': 4,
 'appliance': 5,
 'auto': 6,
 'buy-commercial-property': 7,
 'buy-residential': 8,
 'computers': 9,
 'mobile-tablet': 10,
 'motorcycles': 11,
 'buy-apartment': 12,
 'buy-office': 13,
 'buy-old-house': 14,
 'buy-villa': 15,
 'car': 16,
 'laptop-notebook-macbook': 17,
 'mobile-phones': 18,
 'refrigerator-freezer': 19,
 'washing-machines': 20}

In [15]:
cat1_df = df[["cat1", "id"]]
cat1_df['cat1'] = [cat[c] for c in cat1_df['cat1']]
cat1_df.rename(columns={'id': 'advertisement_id', 'cat1': 'category_id'}, inplace=True)
cat1_df

/var/folders/55/v51lw6zx0cx8px319jqb00hm0000gn/T/ipykernel_3368/3972319413.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cat1_df['cat1'] = [cat[c] for c in cat1_df['cat1']]
/var/folders/55/v51lw6zx0cx8px319jqb00hm0000gn/T/ipykernel_3368/3972319413.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cat1_df.rename(columns={'id': 'advertisement_id', 'cat1': 'category_id'}, inplace=True)

      category_id  advertisement_id
0               1                 1
1               1                 2
2               1                 3
3               1                 4
4               1                 5
...           ...               ...
1425            4              1424
1426            4              1425
1427            4              1426
1428            4              1427
1429            4              1428

[1428 rows x 2 columns]

In [16]:
cat2_df = df[["cat2", "id"]]
cat2_df['cat2'] = [cat[c] for c in cat2_df['cat2']]
cat2_df.rename(columns={'id': 'advertisement_id', 'cat2': 'category_id'}, inplace=True)
cat2_df

/var/folders/55/v51lw6zx0cx8px319jqb00hm0000gn/T/ipykernel_3368/4291711693.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cat2_df['cat2'] = [cat[c] for c in cat2_df['cat2']]
/var/folders/55/v51lw6zx0cx8px319jqb00hm0000gn/T/ipykernel_3368/4291711693.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cat2_df.rename(columns={'id': 'advertisement_id', 'cat2': 'category_id'}, inplace=True)

      category_id  advertisement_id
0               9                 1
1               9                 2
2               9                 3
3               9                 4
4               9                 5
...           ...               ...
1425            6              1424
1426            6              1425
1427            6              1426
1428            6              1427
1429            6              1428

[1428 rows x 2 columns]

In [17]:
cat3_df = df[["cat3", "id"]]
cat3_df = cat3_df[cat3_df["cat3"] != "Unknown"]
cat3_df['cat3'] = [cat[c] for c in cat3_df['cat3']]
cat3_df.rename(columns={'id': 'advertisement_id', 'cat3': 'category_id'}, inplace=True)
cat3_df

      category_id  advertisement_id
0              17                 1
1              17                 2
2              17                 3
3              17                 4
4              17                 5
...           ...               ...
1425           16              1424
1426           16              1425
1427           16              1426
1428           16              1427
1429           16              1428

[1287 rows x 2 columns]

In [18]:
cat_df = pd.concat([cat1_df, cat2_df, cat3_df])
cat_df

      category_id  advertisement_id
0               1                 1
1               1                 2
2               1                 3
3               1                 4
4               1                 5
...           ...               ...
1425           16              1424
1426           16              1425
1427           16              1426
1428           16              1427
1429           16              1428

[4143 rows x 2 columns]

In [19]:
cat_df.to_csv("./../data/db/category_advertisement.csv", index=False)

## Color

In [20]:
color = list(np.unique(df['color']))
color.remove("Unknown")
color_df = {"id": [i+1 for i in range(len(color))], "title": color}
pd.DataFrame(color_df).to_csv("./../data/db/color.csv", index=False)

## CPU

In [21]:
cpu = list(np.unique(df['CPU']))
cpu.remove("Unknown")
cpu_df = {"id": [i+1 for i in range(len(cpu))], "title": cpu, "description": [None for i in range(len(cpu))]}
pd.DataFrame(cpu_df).to_csv("./../data/db/cpu.csv", index=False)

## RAM

In [22]:
ram = list(np.unique(list(df['RAM'])))
ram.remove("-1")
ram.remove("غیره")
ram = [float(r) for r in ram]
ram_df = {"id": [i+1 for i in range(len(ram))], "amount": ram, "ram_type": [None for i in range(len(ram))]}
pd.DataFrame(ram_df).to_csv("./../data/db/ram.csv", index=False)

## other data

In [23]:
ram_dic = {title:ram_id for ram_id, title in zip(ram_df["id"], ram_df["amount"])}
ram_dic

{1.0: 1,
 1.5: 2,
 12.0: 3,
 16.0: 4,
 2.0: 5,
 20.0: 6,
 3.0: 7,
 32.0: 8,
 4.0: 9,
 6.0: 10,
 64.0: 11,
 8.0: 12}

In [24]:
cpu_dic = {title:cpu_id for cpu_id, title in zip(cpu_df["id"], cpu_df["title"])}
cpu_dic

{'Apple M1': 1,
 'Atom': 2,
 'Celeron': 3,
 'Core 2 Duo': 4,
 'Core i3': 5,
 'Core i5': 6,
 'Core i7': 7,
 'Core i9': 8,
 'Pentium': 9,
 'Ryzen 5': 10,
 'Ryzen 7': 11,
 'غیره': 12}

In [25]:
color_dic = {title:color_id for color_id, title in zip(color_df["id"], color_df["title"])}
color_dic

{'graphite': 1,
 'آبی': 2,
 'آبی Aurora': 3,
 'آبی Frost': 4,
 'آبی Pacific': 5,
 'آبی Sierra': 6,
 'آبی Star': 7,
 'آبیmidnight': 8,
 'آلبالویی': 9,
 'برنز': 10,
 'بنفش Awesome': 11,
 'بژ': 12,
 'خاکستری': 13,
 'خاکستری Carbon': 14,
 'خاکستری Graphite': 15,
 'خاکستری Matte Space': 16,
 'خاکستری Meteorite': 17,
 'خاکستری Onyx': 18,
 'خاکستری Space': 19,
 'دلفینی': 20,
 'زرد': 21,
 'سایر': 22,
 'سبز': 23,
 'سبز Aqua': 24,
 'سبز Matte Midnight': 25,
 'سبز Prism Crush': 26,
 'سرمه\u200cای': 27,
 'سفید': 28,
 'سفید Awesome': 29,
 'سفید Prism Crush': 30,
 'سفید صدفی': 31,
 'سفید نقره\u200cای': 32,
 'طلایی': 33,
 'طلایی Rose': 34,
 'قرمز': 35,
 'قهوه\u200cای': 36,
 'مشکی': 37,
 'مشکی Aurora': 38,
 'مشکی Awesome': 39,
 'مشکی Jet': 40,
 'مشکی Laser': 41,
 'مشکی Mystic': 42,
 'مشکی Phantom': 43,
 'مشکی Prism Crush': 44,
 'مشکی Shadow': 45,
 'مشکی Space': 46,
 'موکا': 47,
 'نقرآبی': 48,
 'نقره\u200cای': 49,
 'نقره\u200cای Chrome': 50,
 'نقره\u200cای Misty': 51,
 'نوک\u200cمدادی': 52,
 'یشمی': 53}

In [26]:
detail = df[["size", "year", "room_number", "mileage", "color", "CPU", "RAM", "id"]]
detail["RAM"] = [int(ram_dic[i]) if i in ram else None for i in detail["RAM"]]
detail["CPU"] = [int(cpu_dic[i]) if i in cpu else None for i in detail["CPU"]]
detail["color"] = [int(color_dic[i]) if i in color else None for i in detail["color"]]
detail["size"] = [i if i != -1 else None for i in detail["size"]]
detail["year"] = [int(i) if i != -1 else None for i in detail["year"]]
detail["mileage"] = [i if i != -1 else None for i in detail["mileage"]]
detail["room_number"] = [int(i) if i != -1 else None for i in detail["room_number"]]
detail.rename(columns={'id': 'advertisement_id', 'RAM': 'ram_id', 'CPU': 'cpu_id', 'color': 'color_id'}, inplace=True)
id_col = [i+1 for i in range(len(df["title"]))]
detail.insert(loc=0, column='id', value=id_col)
detail

/var/folders/55/v51lw6zx0cx8px319jqb00hm0000gn/T/ipykernel_3368/3581825762.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  detail["RAM"] = [int(ram_dic[i]) if i in ram else None for i in detail["RAM"]]
/var/folders/55/v51lw6zx0cx8px319jqb00hm0000gn/T/ipykernel_3368/3581825762.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  detail["CPU"] = [int(cpu_dic[i]) if i in cpu else None for i in detail["CPU"]]
/var/folders/55/v51lw6zx0cx8px319jqb00hm0000gn/T/ipykernel_3368/3581825762.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  detail["color"] = [int(color_dic[i]) if i in color else None for i in detail["color"]]
/var/folders/55/v51lw6zx0cx8px319jqb00hm0000gn/T/ipykernel_3368/3581825762.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  detail["size"] = [i if i != -1 else None for i in detail["size"]]
/var/folders/55/v51lw6zx0cx8px319jqb00hm0000gn/T/ipykernel_3368/3581825762.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  detail["year"] = [int(i) if i != -1 else None for i in detail["year"]]
/var/folders/55/v51lw6zx0cx8px319jqb00hm0000gn/T/ipykernel_3368/3581825762.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  detail["mileage"] = [i if i != -1 else None for i in detail["mileage"]]
/var/folders/55/v51lw6zx0cx8px319jqb00hm0000gn/T/ipykernel_3368/3581825762.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  detail["room_number"] = [int(i) if i != -1 else None for i in detail["room_number"]]
/var/folders/55/v51lw6zx0cx8px319jqb00hm0000gn/T/ipykernel_3368/3581825762.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  detail.rename(columns={'id': 'advertisement_id', 'RAM': 'ram_id', 'CPU': 'cpu_id', 'color': 'color_id'}, inplace=True)

,id,size,year,room_number,mileage,color_id,cpu_id,ram_id,advertisement_id
0,1,NaN,NaN,NaN,NaN,13.0,7.0,12.0,1
1,2,NaN,NaN,NaN,NaN,49.0,10.0,12.0,2
2,3,NaN,NaN,NaN,NaN,NaN,NaN,9.0,3
3,4,NaN,NaN,NaN,NaN,37.0,7.0,12.0,4
4,5,NaN,NaN,NaN,NaN,22.0,12.0,NaN,5
...,...,...,...,...,...,...,...,...,...
1425,1424,NaN,1389.0,NaN,143000.0,13.0,NaN,NaN,1424
1426,1425,NaN,1398.0,NaN,60000.0,28.0,NaN,NaN,1425
1427,1426,NaN,1400.0,NaN,56000.0,13.0,NaN,NaN,1426
1428,1427,NaN,1398.0,NaN,72000.0,28.0,NaN,NaN,1427
1429,1428,NaN,1400.0,NaN,6000.0,28.0,NaN,NaN,1428

In [27]:
detail.to_csv("./../data/db/detail.csv", index=False)

After that we remove all ".0" from "detail.csv" file